Source: make-music
Maintainer: Alejandro Simon <alejandro@kano.me>
Section: sound
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=8.0.0), libqt4-dev, libqscintilla2-dev

Package: make-music
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, supercollider, ruby1.9.1, libqscintilla2-8, jackd2
Description: Make Music with a music programming environment
 A programatic approach to making music based on Sam Aaron's Sonic Pi
