Source: make-music
Maintainer: Team Kano <dev@kano.me>
Section: sound
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0), qt4-dev-tools, libqt4-dev, libqscintilla2-dev,
 ruby (>=1.9.3), ruby-dev, make, cmake, libmp3lame-dev

Package: make-music
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, supercollider, jackd2,
 ruby (>=1.9.3), libqscintilla2-8, libqt4-network, kano-toolset (>= 1.2-2),
 libmp3lame0
Description: Make Music with a music programming environment
 A programatic approach to making music based on Sam Aaron's Sonic Pi
